.blog-details-wrapper{
    margin: auto;
    margin-top: 90px;
    width:80%;
    padding: 10px;
}
.blog-details-wrapper h2{
    font-size: 40px;
}

.blog-details-wrapper img{
    margin: 30px auto;
    width:600px;
}
.blog-details-wrapper .date{
    font-size: 0.9rem;
}
.blog-details-wrapper .content{
    width:90%;
}
.blog-details-wrapper .author{
    margin-top: 15px;
    font-style: italic;
    margin-bottom: 20px;
}