<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            BlogApp
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a routerLink="/blogs" routerLinkActive="active" class="nav-item nav-link active">All Blogs</a>
                <a routerLink="/create" routerLinkActive="active" class="nav-item nav-link active">Create Blog</a>
                <a routerLink="/my-blogs" routerLinkActive="active" class="nav-item nav-link active">My Blogs</a>
            </div>
            <div class="navbar-nav ms-auto">
                <button class="btn mt-2 nav-link" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</nav>